In [4]:
import pymysql

In [11]:
db = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

try:
    cursor = db.cursor()
    sql = "SELECT * FROM students"
    cursor.execute(sql)
    result = cursor.fetchall()
    for x in result:
        print(x)
    # print(result)     
finally:
    db.close()

(1, 'John', 'Music')
(2, 'Sarah', 'Art')
(3, 'Steve', 'Computer Science')
(4, 'Emma', 'Movie')
(5, 'Emma', 'Movie')

In [7]:
db = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')
try:
    cursor = db.cursor()
    sql = "SELECT * FROM students"
    cursor.execute(sql)
    result = cursor.fetchone()
    print(result)     
finally:
    db.close()

(1, 'John', 'Music')

In [10]:
db = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')
try:
    cursor = db.cursor()
    sql = "INSERT INTO students (name, major) VALUES (%s, %s)"
    data = ('Emma', 'Movie')
    cursor.execute(sql, data)
finally:
    db.commit()
    db.close()