In [1]:
import pymysql

db = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       charset='utf8')

sql = """
    CREATE DATABASE zetta_db
"""
try:
    with db.cursor() as cursor:
        cursor.execute(sql)
        db.commit()
finally:
    db.close()

In [3]:
db = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

sql = '''
    CREATE TABLE cpu_info (
        id INT UNSIGNED NOT NULL AUTO_INCREMENT,
        name VARCHAR(20) NOT NULL,
        model_num VARCHAR(10) NOT NULL,
        model_type VARCHAR(10) NOT NULL,
        PRIMARY KEY(id)
    )
'''

try:
    with db.cursor() as cursor:
        cursor.execute(sql)
        db.commit()
finally:
    db.close()

In [5]:
db = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

try:
    cursor = db.cursor()
    for num in range(10, 20):
        sql = "INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(" + str(num) + ", 'i5', '7700', 'Kaby Lake')"
        print(sql)
        cursor.execute(sql)

    db.commit()
    print(cursor.lastrowid)
finally:
    db.close()

INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(10, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(11, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(12, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(13, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(14, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(15, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(16, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(17, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(18, 'i5', '7700', 'Kaby Lake')
INSERT INTO cpu_info (id, name, model_num, model_type) VALUES(19, 'i5', '7700', 'Kaby Lake')
19

In [6]:
db = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

try:
    cursor = db.cursor()
    sql = "SELECT * FROM cpu_info"
    cursor.execute(sql)
    result = cursor.fetchall()
    for row_data in result:
        print(row_data[0])
        print(row_data[1])
        print(row_data[2])
        print(row_data[3])        
finally:
    db.close()

10
i5
7700
Kaby Lake
11
i5
7700
Kaby Lake
12
i5
7700
Kaby Lake
13
i5
7700
Kaby Lake
14
i5
7700
Kaby Lake
15
i5
7700
Kaby Lake
16
i5
7700
Kaby Lake
17
i5
7700
Kaby Lake
18
i5
7700
Kaby Lake
19
i5
7700
Kaby Lake