# pymysql Example

https://zetcode.com/python/pymysql/

cities_mysql.sql
```sql
USE zetta_db;
DROP TABLE IF EXISTS cities;
CREATE TABLE cities(id INT PRIMARY KEY AUTO_INCREMENT, name VARCHAR(255), population INT);
INSERT INTO cities(name, population) VALUES('Bratislava', 432000);
INSERT INTO cities(name, population) VALUES('Budapest', 1759000);
INSERT INTO cities(name, population) VALUES('Prague', 1280000);
INSERT INTO cities(name, population) VALUES('Warsaw', 1748000);
INSERT INTO cities(name, population) VALUES('Los Angeles', 3971000);
INSERT INTO cities(name, population) VALUES('New York', 8550000);
INSERT INTO cities(name, population) VALUES('Edinburgh', 464000);
INSERT INTO cities(name, population) VALUES('Berlin', 3671000);
```

In [2]:
# version.py
import pymysql

con = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

try:
    with con.cursor() as cur:
        cur.execute("SELECT VERSION()")
        version = cur.fetchone()
        print(f'Database version: {version[0]}')     
finally:
    con.close()

Database version: 8.0.33-0ubuntu0.22.04.2

In [1]:
# fetch_all.py
import pymysql

con = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

try:
    with con.cursor() as cur:
        cur.execute("SELECT * FROM cities")
        rows = cur.fetchall()
        for row in rows:
            print(f'{row[0]} {row[1]} {row[2]}')     
finally:
    con.close()

1 Bratislava 432000
2 Budapest 1759000
3 Prague 1280000
4 Warsaw 1748000
5 Los Angeles 3971000
6 New York 8550000
7 Edinburgh 464000
8 Berlin 3671000

### - PyMySQL dictionary cursor

In [9]:
# dictionary_cursor.py
import pymysql
import pymysql.cursors

con = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8',
                       cursorclass=pymysql.cursors.DictCursor)

try:
    with con.cursor() as cur:
        cur.execute("SELECT * FROM cities")
        rows = cur.fetchall()
        for row in rows:
            print(row['id'], row['name'])     
finally:
    con.close()

1 Bratislava
2 Budapest
3 Prague
4 Warsaw
5 Los Angeles
6 New York
7 Edinburgh
8 Berlin

### - PyMySQL column headers

In [19]:
# column_headers.py
import pymysql
import pymysql.cursors

con = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

try:
    with con.cursor() as cur:
        cur.execute("SELECT * FROM cities")
        rows = cur.fetchall()
        desc = cur.description
        print(f'{desc[0][0]:<8} {desc[1][0]:<15} {desc[2][0]:>10}')
        for row in rows:
            print(f'{row[0]:<8} {row[1]:<15} {row[2]:>10}') 
finally:
    con.close()

id       name            population
1        Bratislava          432000
2        Budapest           1759000
3        Prague             1280000
4        Warsaw             1748000
5        Los Angeles        3971000
6        New York           8550000
7        Edinburgh           464000
8        Berlin             3671000

### - PyMySQL escaping parameters

In [21]:
# escaped.py
import pymysql

con = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

# user input
myid = 4

try:
    with con.cursor() as cur:
        cur.execute("SELECT * FROM cities WHERE id=%s", myid)
        cid, name, population = cur.fetchone()
        print(cid, name, population)
finally:
    con.close()

4 Warsaw 1748000

### - PyMySQL affected rows

In [22]:
# escaped.py
import pymysql

con = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

try:
    with con.cursor() as cur:
        cur.execute("SELECT * FROM cities WHERE id IN (1, 2, 3)")
        print(f'The query affected {cur.rowcount} rows')
finally:
    con.close()

The query affected 3 rows

### - PyMySQL insert row

In [24]:
import pymysql

con = pymysql.connect(host='172.17.0.3',
                       user='zetta',
                       password='password',
                       db='zetta_db',
                       charset='utf8')

city = (9, 'Kiev', 2887000)

try:
    with con.cursor() as cur:
        cur.execute("INSERT INTO cities VALUES(%s, %s, %s)",
                    (city[0], city[1], city[2]))
        con.commit()
        print('new city inserted')
finally:
    con.close()

new city inserted